data.info.*
dataset*.json
dataset*.json.*

model_weights_e150_bs512.pth
clustered_dat_noscaled_by_msmt_elliptic.pkl

__pycache__

testing.ipynb
dataRaw/data.json

check*.csv
sample_predictions.csv

data/parquet_files/*
!data/parquet_files/.gitkeep